.dropdown-menu {
  background:white;
  width: 190px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
  font-size: 16px;
  
}
.dropdown-menu li {
  background: white;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: gray;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
