video {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  position: fixed;
  z-index: -1;
  
}

.hero-container {
  
  height: 100vh;
  /* width: 100vw !important; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
  font-family: 'Open Sans', sans-serif;

}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -200px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 65px;
}

.offerings-container{
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 58px;
    margin-top: 60px;
  }
  .offerings-container {
    margin-top: 8px;
    color: #fff;
    font-size: 22px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
  }
}

@media screen and (min-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: 30px;
  }

  .offerings-container{
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
